div.aside-container {
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%
}

ul.aside-menu {
  /* background-color: grey; */
  width: 100%;
  padding: 0 0 0 0px;
}