div.aside-container {
  position: absolute;
  left: 0;
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 60px;
  height: calc(100% - 20px * 3);
}

ul.aside-menu {
  /* background-color: grey; */
  width: 100%;
}