li.menu-element {
  /* border: 1px solid black; */
  padding: 10px 0;

}

ul.aside-submenu {
  /* background-color: darkgrey; */
  margin-left: 20px;
}

.icon-item {
  transition: .2s;
  padding: 0 10px;
}

.icon-item-active {
  transform: rotate(90deg)
}