li.menu-element {
  /* border-bottom: 1px solid black; */
  padding: 10px 0;

}

ul.aside-submenu {
  /* background-color: darkgrey; */
  width: 100%;
  /* margin-left: 20px; */
}

.icon-item {
  transition: .2s;
  padding: 0 10px;
  margin-left: 20px;
}

.icon-item-active {
  transform: rotate(90deg)
}